#home-jumbotron-container {
    background-image: url(../images/background2.jpeg);
    background-size: cover;
}

#jumbo-text {
    display:flex;
    justify-content: center;
    align-items: center;
}

#jumbo-text h1 {
    font-size: 4.5vw; /* Viewport width 64px */
    color: white;
    font-weight: bolder;
    margin-top:20px;
}


#header-content-container {
    margin-top: 2%;
    display:flex;
    align-items: end;
}

#welcome-container {
    background-color: black;
    color: white;
    margin: 30px;
    margin-bottom: 47.5px;
    padding: 15px;
    height: 40%;
}

#welcome-container h1 {
    font-size: 4.3vw;
}

#welcome-container p {
    background-color: #443dff;
    color: #ffda1f;
    float: right;
    width: fit-content;
    margin: 10px;
    margin-right: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    letter-spacing: 1.5px;
    font-weight: bold;
    font-size: 1.2vw;
}

#apod-container {
    margin: 30px;
    padding: 10px;
    height: auto;
}

#apod-body {
    background-color: white;
    margin: 10px;
    padding: 10px;
    height: 100%;
}

#apod-body img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#apod-body iframe {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

#scrolling-text {
    background-color: black;
    color: white;
    font-size: 1.5vw;
    margin-bottom: 15px;
    padding: 5px;
}

.main-container {
    background-color: whitesmoke;
}

.main-container .topic {
    color: white;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    border: solid red 5px;
}

.main-container .topic .left {
    width: 50%;
}

.main-container .topic .right {
    width: 50%;
}

.main-container img {
    width: 100%;
    height: 100%;
}

