/* Background video Styling */
.main {
    background-color: rgb(50, 50, 50);
}

.header-container {
    display: block;
    position: relative;
    height: auto;
    max-height: 88vh;
}

.video-background {
    max-height: 88vh;
    object-fit: fill;
}

/* Add contrast to video */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #515151;
    mix-blend-mode: overlay;

}

/* Overlay a content container on top of the video background */
.header-content {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

/* Styling search */
.header-content .searchbar {
    position: absolute;
    bottom: 6%;
    right: 10%;
    width: 45%;
    height: 10%;
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 1;
}
#search-button {
    width: 25%;
    height: 75%;
    font-size: 2vw;
    font-weight: 600;
    border-style: none;
    color: white;
    background-color: rgb(25, 119, 11);
    transition: 0.3s;
}
#search-button:hover {
    background-color: rgb(28, 96, 17);;
}


#search-query{ 
    width: 100%;
    height: 75%;
    display: flex;
}

#search-query input {
    background-color: whitesmoke;
    font-size: 20px;
    width: 100%;
    height: 100%;
    padding: 10px;
    border: solid #a5abb2 1px;
}

.header-content .title-card {
    position: absolute;
    bottom: 0;   
    left: 0;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 80px;
    padding-bottom: 10px;
    background-image: linear-gradient(to top, rgba(11, 64, 255, .95), rgba(255, 255, 255, 0));
}

.title-card h1 {
    font-size: 5vw;
}

.title-card p {
    font-size: 1.75vw;
}

#media-container {
    background-color: rgb(143, 143, 143);
    padding: 10px;
}

.filters {
    padding: 10px;
}

.filters button {
    margin: 15px;
    width: 15%;
    height: 100%;
    padding: 5px;
    font-size: 1.5vw;
    letter-spacing: 2px;
}

#filter-container {
    display: none;
    position: relative;
    background-color: rgb(50, 50, 50);
    color: white;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 20%;
    padding: 10px;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}


#filter-container h4 {
    color: gold;
}
#filter-container form {
    padding: 15px;
}
#filter-container hr {
    position: relative;
    margin: 5px;
}
#filter-container input[type="range"] {
    width: 65%;
}
#filter-container sup {
    color: red;
}
#filter-container p {
    font-size: 80%;
}

#filter-buttons {
    margin-top: 50px;
    margin-left: 10px;
}
#filter-buttons div {
    margin-right: 25px;
    margin-bottom: 15px;
}
#filter-buttons button {
    margin: 0px 10px 0px;
    padding: 5px 30px 5px;
    border-color: black;
}
#filter-buttons .apply-button {
    background-color: rgb(0, 34, 168);
    color: white;
    font-weight: 650;
}
#filter-buttons .cancel-button {
    font-weight: 650;
}
#filter-buttons .reset-button {
    background-color: rgb(185, 21, 21);
    color: white;
    font-weight: 650;
}




.news-group .grid {
    /* display: flexbox; */
    display: flex;
    flex-wrap: wrap;
}

.news-group h2 {
    color: whitesmoke;
    margin: 10px;
}

.news-group hr {
    color: rgb(255, 255, 255);
}

.news-group {
    background-color: #664848;
    border-style: solid;
    padding: 10px;
    border-color: rgb(0, 0, 0);
    margin: 10px;
}

.news-group .item-content {
    background-color: #0f1436;
    color: rgb(0, 0, 0);
    display: flex;
    width: auto;
    height: auto;
    border-style: solid;
    padding: 5px;
    border-color: rgb(62, 66, 77);
    margin: 20px;
}

.news-group .item-content img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    float: left;
}

.news-group .item-content section {
    padding: 10px;
    width: 80%;
    height: 100%;
}

.news-group .item-content section div {
    display: flex;
}

.news-group .item-content section p {
    word-break: break-word;
}

#extras-container {
    border-style: solid;
    border-radius: 10px;
    margin: 50px;
    padding: 50px;
    color: white;
    border-color: rgba(0, 0, 0, 0);
    background-color: #696663;
    box-shadow: inset 0px 12px 25px 5px rgba(0, 0, 0, 0.4);
}

#extras-container center {
    letter-spacing: 0.65vh;
}

#extras-container .item-content {
    width: auto;
    height: auto;
    padding: 1.2vh;
}

#extras-container .item-content div {
    width: 100%;
    height: 100%;
}

#extras-container .col-3 {
    padding: 0px 0px 0px;
}

#extras-container img {
    border-radius: 4px;
    background-color: rgb(210, 210, 210);
    color:black;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0.65vh;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.6);
    transition: 0.3s;
}

#extras-container img:hover {
    transform: scale(1.1);
}