html {
    background-color: black;
}

body {
    background-color: white;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.playfair-font {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
}
  
